body {
    margin: 0;
}

.container {
    max-width: 80%;
    float: left;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.control-panel {
    width: 20%;
    float: left;
    height: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.uk-form-custom {
    margin-left: 40px;
}

.uk-form-custom:hover {
    cursor: pointer;
}